<%= form_with(model: transporter, url: [@company, transporter], local: true) do |form| %>
  <% if transporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transporter.errors.count, "error") %> prohibited this transporter from being saved:</h2>

      <ul>
      <% transporter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-striped">
    <thead>
    </thead>

    <tbody>
      <tr>
        <th><%= form.label :name %></th>
        <td><%= form.text_field :name %></td>
      </tr>

      <tr>
        <th><%= form.label :telephone %></th>
        <td><%= form.text_field :telephone %></td>
      </tr>

      <tr>
        <th><%= form.label :email %></th>
        <td><%= form.text_field :email %></td>
      </tr>

      <tr>
        <th><%= form.label :status %></th>
        <td><%= form.select :status, Sender.statuses.keys[0..1].map {|status| [status.titleize,status]} %></td>
      </tr>

      <tr>
        <th><%= form.label :company_id %></th>
        <td><%= @transporter.company.name %>   <%#= form.label @company.name %>
            <%= form.hidden_field :company_id %></td>
      </tr>

    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
