<p id="notice"><%= notice %></p>

<br>
<h1><%= @transporter.name %></h1>
<br>
<br>

<table class="table table-striped">
  <thead>
  </thead>

  <tbody>
    <tr>
      <th>Name</th>
      <td><%= @transporter.name %></td>
    </tr>

    <tr>
      <th>Telephone</th>
      <td><%= @transporter.telephone %></td>
    </tr>

    <tr>
      <th>email</th>
      <td><%= @transporter.email %></td>
    </tr>

    <tr>
      <th>Status</th>
      <td><%= @transporter.status %></td>
    </tr>

  </tbody>
</table>

<hr>
<%#= link_to 'Edit', edit_company_transporter_path(@company, @transporter) %> 
<%= link_to 'Back to Transporter', company_transporters_path(@company) %> | 
<%# if @user.class.name == "Transporter"  %>
<%= link_to "My Orders", orders_company_transporter_path(@transporter) %> 

<hr>
