<tr>
  <th><%= form.label :description %></th>
  <td><%= form.text_area :description %></td>
</tr>

<tr>
  <th><%= form.label :weight %></th>
  <td><%= form.text_field :weight %></td>
</tr>

<tr>
  <th><%= form.label :length %></th>
  <td><%= form.text_field :length %></td>
</tr>

<tr>
  <th><%= form.label :width %></th>
  <td><%= form.text_field :width %></td>
</tr>

<tr>
  <th><%= form.label :heigth %></th>
  <td><%= form.text_field :heigth %></td>
</tr>

<tr>
  <th><%= form.label :pickup_address %></th>
  <td><%= form.text_field :pickup_address %></td>
</tr>

<tr>
  <th><%= form.label :pickup_latitude %></th>
  <td><%= form.text_field :pu_lat %></td>
</tr>

<tr>
  <th><%= form.label :pickup_longitude %></th>
  <td><%= form.text_field :pu_lng %></td>
</tr>

<tr>
  <th><%= form.label :pickup_time %></th>
  <td><%= form.datetime_select :pu_time %></td>
</tr>

<tr>
  <th><%= form.label :delivery_address %></th>
  <td><%= form.text_field :delivery_address %></td>
</tr>

<tr>
  <th><%= form.label :delivery_latitude %></th>
  <td><%= form.text_field :dy_lat %></td>
</tr>

<tr>
  <th><%= form.label :delivery_longitude %></th>
  <td><%= form.text_field :dy_lng %></td>
</tr>

<tr>
  <th><%= form.label :delivery_time %></th>
  <td><%= form.datetime_select :dy_time %></td>
</tr>

<tr>
  <th><%= form.label :cost %></th>
  <td><%= form.text_field :cost %></td>
</tr>

<%# status was removed from here as everyone will be able to modified ( sneder, company and transporter %>

<tr>
  <th><%= form.label :radius %></th>
  <td><%= form.number_field :radius %></td>
</tr>
