<% if @order.status == ('completed') || @order.status == ('cancelled') || (@user.class.name == "Sender" && @order.status !=     'draft')%>  <%# Sender unable to edit if Not draft %>
  <%= render 'orders/restrictedAccess' %>  
<% else%>
  <%= form_with(model: order, url: [@user, order], local: true) do |form| %>
    <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
        <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <table class="table table-striped">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th><%= form.label :sender_id %></th> 
          <td><%= @order.sender.name %></td>
        </tr>
        <% if @user.class.name == "Sender"  %>
          <%= render 'editOrderOnSender', form: form %>  
          <%= render 'forminfo', form: form %>
        <% elsif @user.class.name == "Company"  %>    
          <%= render 'editOrderOnCompany', form: form %> 
          <%= render 'info', form: form%>  
        <% elsif @user.class.name == "Transporter"  %> 
          <%= render 'editOrderOnTransporter', form: form %> 
          <%= render 'info', form: form%>        
      <% end %>
      </tbody>
    </table>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
