<%= form_with(model: order, url: [@user, order], local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-striped">
    <thead>
    </thead>

    <tbody>
      <tr>
        <th><%= form.label :sender_id %></th>
        <td><%= form.label @order.sender.name %></td> 
      </tr>


<%# Think of logic to render (a block) only for Company, another one for Sernder and probably one more for transporter)%>
      <tr>
        <th><%= form.label :transporter_id %></th>
        <td>
          <% if @user.class.name == "Company" %>
            <%= form.collection_select :transporter_id, @user.transporters,
                :id, :name, include_blank: false %>
          <% else %>
            <%= @order.transporter.present? ? @order.transporter.company.name : "-" %>
          <% end %>
        </td>
      </tr>
      <%# Next tr below is for the Company only) %>

      <tr>
        <th><%= form.label :status %></th>
         <td>
        <% if @user.class.name == "Company" %>
          <%= form.select :status, Order.statuses.keys[2..5].map {|status| [status.titleize,status]} %>
        <% else %> 
          <%= form.select :status, Order.statuses.keys[0 ..1].map {|status| [status.titleize,status]} %>
        <% end %>
           </td>
      </tr>

        <% if @user.class.name == "Company" %>
          <%= render 'info', order: @order %>
        <% else %>
          <%= render 'forminfo', form: form%>
        <% end %>

    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
