<%= form_with(model: order, url: [@sender, order], local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-striped">
    <thead>
    </thead>

    <tbody>
      <tr>
        <th><%= form.label :description %></th>
        <td><%= form.text_area :description %></td>
      </tr>

      <tr>
        <th><%= form.label :weight %></th>
        <td><%= form.text_field :weight %></td>
      </tr>

      <tr>
        <th><%= form.label :length %></th>
        <td><%= form.text_field :length %></td>
      </tr>

      <tr>
        <th><%= form.label :width %></th>
        <td><%= form.text_field :width %></td>
      </tr>

      <tr>
        <th><%= form.label :heigth %></th>
        <td><%= form.text_field :heigth %></td>
      </tr>

      <tr>
        <th><%= form.label :pickup_address %></th>
        <td><%= form.text_field :pickup_address %></td>
      </tr>

      <tr>
        <th><%= form.label :pickup_latitude %></th>
        <td><%= form.text_field :pu_lat %></td>
      </tr>

      <tr>
        <th><%= form.label :pickup_longitude %></th>
        <td><%= form.text_field :pu_lng %></td>
      </tr>

      <tr>
        <th><%= form.label :pickup_time %></th>
        <td><%= form.datetime_select :pu_time %></td>
      </tr>

      <tr>
        <th><%= form.label :delivery_address %></th>
        <td><%= form.text_field :delivery_address %></td>
      </tr>

      <tr>
        <th><%= form.label :delivery_latitude %></th>
        <td><%= form.text_field :dy_lat %></td>
      </tr>

      <tr>
        <th><%= form.label :delivery_longitude %></th>
        <td><%= form.text_field :dy_lng %></td>
      </tr>

      <tr>
        <th><%= form.label :delivery_time %></th>
        <td><%= form.datetime_select :dy_time %></td>
      </tr>

      <tr>
        <th><%= form.label :cost %></th>
        <td><%= form.text_field :cost %></td>
      </tr>

      <tr>
        <th><%= form.label :status %></th>
        <td><%= form.number_field :status %></td>
      </tr>

      <tr>
        <th><%= form.label :radius %></th>
        <td><%= form.number_field :radius %></td>
      </tr>

      <tr>
        <th><%= form.label :sender_id %></th>
        <td><%= form.label @sender.name %>
            <%= form.hidden_field :sender_id %></td>
      </tr>

      <tr>
        <th><%= form.label :transporter_id %></th>
        <td><%= form.label "-" %>
            <%= form.hidden_field :transporter_id %></td>
      </tr>

    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
