    <tr>
      <th>Status</th>
      <td><%= order.status.capitalize %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= order.description %></td>
    </tr>

    <tr>
      <th>Weight</th>
      <td><%= order.weight %></td>
    </tr>

    <tr>
      <th>Length</th>
      <td><%= order.length %></td>
    </tr>

    <tr>
      <th>Width</th>
      <td><%= order.width %></td>
    </tr>

    <tr>
      <th>Heigth</th>
      <td><%= order.heigth %></td>
    </tr>

    <tr>
      <th>Pickup Address</th>
      <td><%= order.pickup_address %></td>
    </tr>

    <tr>
      <th>Pickup Coordinates</th>
      <td><%= [order.pu_lat, order.pu_lng].to_dms %></td>
    </tr>

    <tr>
      <th>Pickup Time</th>
      <td><%= order.pu_time %></td>
    </tr>

    <tr>
      <th>Delivery Address</th>
      <td><%= order.delivery_address %></td>
    </tr>

    <tr>
      <th>Delivery Coordinates</th>
      <td><%= [order.dy_lat, order.dy_lng].to_dms %></td>
    </tr>

    <tr>
      <th>Delivery Time</th>
      <td><%= order.dy_time %></td>
    </tr>

    <tr>
      <th>Cost</th>
      <td><%= number_with_delimiter(order.cost.to_i) %></td>
    </tr>



    <tr>
      <th>Radius</th>
      <td><%= number_with_delimiter(order.radius) %></td>
    </tr>
