<p id="notice"><%= notice %></p>

<%# Think of creating logic to put title depending on what is being shown (e.g.Posted Orders, Draft orders, Taken orders) must liekly using enum and/or routes %>
<br>
<h1> <%= @user.name %> Orders</h1>
<br>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Company</th>
      <th>Transporter</th>
      <th>Status</th>
      <th>Description</th>
      <th>Weight</th>
      <th>Length</th>
      <th>Width</th>
      <th>Heigth</th>
      <th>PickUp address</th>
      <th>PickUp Coordinates</th>
      <th>PickUp Time</th>
      <th>Delivery address</th>
      <th>Delivery Coordinates</th>
      <th>Delivery Time</th>
      <th>Cost</th>      
      <th>Radius</th>
      <th>Distance to Order</th>
      <th colspan="3"></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.sender.name %></td>
        <td><%= order.transporter.present? ? order.transporter.company.name : "-" %></td>
        <td><%= order.transporter.present? ? order.transporter.name : "-" %></td>
        <td><%= order.status.present? ? order.status.capitalize : "-"  %></td>
        <td><%= order.description %></td>
        <td><%= order.weight %></td>
        <td><%= order.length %></td>
        <td><%= order.width %></td>
        <td><%= order.heigth %></td>
        <td><%= order.pickup_address %></td>
        <td><%= [order.pu_lat, order.pu_lng].present? ? [order.pu_lat, order.pu_lng].to_dms : "-" %></td> 
        <td><%= order.pu_time %></td>
        <td><%= order.delivery_address %></td>
        <td><%= [order.dy_lat, order.dy_lng].present? ? [order.dy_lat, order.dy_lng].to_dms : "-"  %></td>
        <td><%= order.dy_time %></td>
        <td><%= number_with_delimiter(order.cost.to_i) %></td>
        <td><%= number_with_delimiter(order.radius) %></td>
        <td><%= number_with_delimiter(( \
          Geocoder::Calculations.distance_between( \
          [@user.latitude,@user.longitude], \
          [order.pu_lat,order.pu_lng])*1000).to_i) \
        %></td>
        <td><%= link_to url_for([@user, order]) do %><span class="fa fa-eye"></span><% end %></td> 


<%# Think of moving this somewhere else and call it as render, probably _forminfo o _info it is called as well at he begining of index%>

      <% if order.status == ('completed') || order.status == ('cancelled')  %>
         <td></td>
      <% else %>
        <% if (@user.class.name == "Sender" && order.status != 'draft')%> <%# User unable to edit ifNot draft %>
        <td></td>
        <% elsif %>
          <td><%= link_to url_for([:edit, @user, order]) do %><span class="fa fa-edit"></span><% end %></td>    
        <% elsif (@user.class.name == "Company")%> 
          <td><%= link_to url_for([:edit, @user, order]) do %><span class="fa fa-edit"></span><% end %></td>
        <% else (@user.class.name == "Transporter")%>
          <td><%= link_to url_for([:edit, @user, order]) do %><span class="fa fa-edit"></span><% end %></td>
        <% end %>
      <% end %>
    

        <td><%= link_to url_for([@user, @order]), method: :delete, data: { confirm: 'Are you sure?' } do %><span class="fa fa-trash"></span><% end %></td>  
          <td></td> 
         <% else %>
       
<% end %>
      </tr>
       
  </tbody>
</table>

<hr>
  <% if @user.class.name == "Sender" %>
    <%= link_to 'New Order', url_for([:new, @user, :order]) %> |
    <%= link_to 'Back to Me', url_for(@user) %>
  <% elsif @user.class.name == "Company" %>
    <%= link_to 'Back to Me', url_for(@user) %>
  <% else %>
     <% @user.class.name == "Transporter" %>
     <%= link_to 'Back to Me', url_for(@user) %>
  <% end %>
<hr>



<%= user_icon = {:name => 'user',
                  :icon_url => asset_path("#{@user.class.name.downcase}.png"),
                  :icon_size => [40, 40],
                  :icon_anchor => [20, 20],
                  :popup_anchor => [0, -20]}
    plane_icon = {:name => 'plane',
                      :icon_url => asset_path('plane.png'),
                      :icon_size => [40, 40],
                      :icon_anchor => [20, 20],
                      :popup_anchor => [0, -20]}

    latlng = [@user.latitude, @user.longitude]

    markers = @orders.map {|order| {
      :latlng => [order.pu_lat, order.pu_lng],
      :popup => "<b>#{order.pickup_address}</b><br>#{order.delivery_address}",
      :icon => plane_icon
      }
    }

    markers << {
          :latlng => latlng,
          :popup => "<b>User</b><br>#{@user.name}",
          :icon => user_icon
        }

    map(
        :center => {
          :latlng => latlng,
          :zoom => 13
        },
        :markers => markers
    )
%>
