<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <h1 class="headingspace">Order Reference: </b><%= @order.id %></h1>
  <tbody>   
    <tr>
      <th>Sender</th>
      <td><%= @order.sender.name %></td>
    </tr>
    <% if @order.status == 'draft' || @order.status == 'posted' %>
    <% else %>   
          <tr>
            <th>Company</th>
            <td><%= @order.transporter.present? ? @order.transporter.company.name : "-" %></td>
          </tr>
          <tr>
            <th>Transporter</th>
            <td><%= @order.transporter.present? ? @order.transporter.name : "-"  %></td>
          </tr>
      <% end %>    
     <tr>
       <th>Status</th>
       <td><%= @order.status.present? ? @order.status.capitalize : "-"  %></td>
     </tr>
        <%= render 'info', order: @order %>
  </tbody>
</table>

<hr>
<%= link_to "My Orders".html_safe , url_for([@user, :orders]) %> | 
<% if (@order.status == 'completed') || (@order.status == 'cancelled')%> 
   <td></td>
<% elsif %>
  <% if @user.class.name == "Sender" && @order.status == 'draft'%> <%# Sender can edit the order after Posted %>
   <%= link_to 'Edit', url_for([:edit, @user, @order]) %> 
   <% else %>
   <td></td> 
  <% end %> 
   <td></td>
<% elsif @user.class.name == "Company"  %>
    <%= link_to 'Edit', url_for([:edit, @user, @order]) %> 
    <%= link_to 'Posted Orders', posts_company_orders_path %> |
  <td></td> 
<% else %>  
<%#= link_to 'Edit', url_for([:edit, @user, @order]) %> 
<% end %> 


<hr>

<%= plane_icon = {:name => 'plane',
                  :icon_url => asset_path('plane.png'),
                  :icon_size => [40, 40],
                  :icon_anchor => [20, 20],
                  :popup_anchor => [0, -20]}
    target_icon = {:name => 'target',
                      :icon_url => asset_path('target.png'),
                      :icon_size => [40, 40],
                      :icon_anchor => [20, 20],
                      :popup_anchor => [0, -20]}
    pu_latlng = [@order.pu_lat, @order.pu_lng]
    dy_latlng = [@order.dy_lat, @order.dy_lng]
    map(
        :center => {
          :latlng => pu_latlng,
          :zoom => 13
        },
        :markers => [
          {
          :latlng => pu_latlng,
          :popup => "<b>Recolección:</b><br>#{@order.pickup_address}",
          :icon => plane_icon
          },
          {
          :latlng => dy_latlng,
          :popup => "<b>Entrega:</b><br>#{@order.delivery_address}",
          :icon => target_icon
          }
        ]
    )
%>
<hr>
