<p id="notice"><%= notice %></p>
<br>
<h1>Companies</h1>
<br>
<br>
<hr>
<div data-turbolinks="false">
  <%= form_with(url: companies_path, method: :get, local: true) do |form| %>

    <table class="table table-striped">
      <thead>
      </thead>

      <tbody>
        <tr>
          <th><%= form.label :search %></th>
          <td><%= form.text_field :search, value: params[:search].present? ? params[:search] : "Bucaramanga" %></td>
        </tr>

        <tr>
          <th><%= form.label :radius %></th>
          <td><%= form.number_field :radius, value: params[:radius].present? ? params[:radius] : 500 %></td>
        </tr>

      </tbody>
    </table>
    <%= form.submit "Search Address" %>
  <% end %>
</div>

<div>
  <%= @search_coordinates.present? ? @search_coordinates : "" %>
</div>
<hr>
<br>

<% if !@companies_near.nil? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Coordinates</th>
        <th>Radius</th>
        <th>Status</th>
        <th>Dist. to Search</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @companies_near.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= company.telephone %></td>
          <td><%= company.email %></td>
          <td><%= company.address %></td>
          <td><%= [company.latitude, company.longitude].to_dms %></td>
          <td><%= company.radius %></td>
          <td><%= company.status %></td>
          <td><%= @search_coordinates.present? ? (1000*company.distance).to_i : "" %></td>
          <td><%= link_to company do %><span class="fa fa-eye"></span><% end %></td>
          <td><%= link_to edit_company_path(company) do %><span class="fa fa-edit"></span><% end %></td>
          <td><%= link_to company, method: :delete, data: { confirm: 'Are you sure?' } do %><span class="fa fa-trash"></span><% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<hr>
<%= link_to 'New Company', new_company_path %>
<hr>

<%= company_icon = {:name => 'company',
                  :icon_url => asset_path('company.png'),
                  :icon_size => [20, 20],
                  :icon_anchor => [10, 20],
                  :popup_anchor => [0, -20]}
    latlng = [@companies.average(:latitude), @companies.average(:longitude)]

    markers = @companies.map {|company| {
      :latlng => [company.latitude, company.longitude],
      :popup => "<b>#{company.name}</b><br>#{company.address}",
      :icon => company_icon
      }
    }

    if @search_coordinates.present?
        markers << {
          :latlng => @search_coordinates,
          :popup => "<b>Search</b><br>#{params[:search]}"
        }

        circles = [
          {
            :latlng => @search_coordinates,
            :radius => params[:radius].to_i,
            :color => 'red',
            :fillColor => '#111',
            :fillOpacity => 0.35
          }
        ]
    end
    map(
        :center => {
          :latlng => latlng,
          :zoom => 13
        },
        :markers => markers,
        :circles => circles
    )
%>
<br>
<hr>
