<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
  </thead>

  <tbody>
    <tr>
      <th>Name</th>
      <td><%= @sender.name %></td>
    </tr>

    <tr>
      <th>Telephone</th>
      <td><%= @sender.telephone %></td>
    </tr>

    <tr>
      <th>email</th>
      <td><%= @sender.email %></td>
    </tr>

    <tr>
      <th>Address</th>
      <td><%= @sender.address %></td>
    </tr>

    <tr>
      <th>Coordinates</th>
      <td><%= [@sender.latitude, @sender.longitude].to_dms%></td>
    </tr>

    <tr>
      <th>Status</th>
      <td><%= @sender.status %></td>
    </tr>

  </tbody>
</table>

<hr>
<%= link_to 'Orders', sender_orders_path(@sender) %> |
<%= link_to 'Edit', edit_sender_path(@sender) %> |
<%= link_to 'Back', senders_path %>
<hr>
